.sidebar {
  width: 220px;
  background: var(--mui-palette-background-sidebar);
  transition: width 0.35s ease, padding 0.35s ease;
  overflow: hidden;
  flex-shrink: 0;
}

.sidebar.closed {
  width: 0;
  padding: 0;
  border: none;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}