#header {
    display: flex;
    height: 50px;
    align-items: center;
    background: lightblue;
}

.nav{
    align-items: center;
    margin-right: 20px;
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.link{
    text-decoration: none;
    /* color: #333; */
}