.singleLink, .toggleBtn {
  display: flex;
	width: 100%;
  padding: 10px 16px;
  text-decoration: none;
  color: var(--mui-palette-text-primary);
  font-size: 0.95rem;
  font-weight: 500;
  transition: all 0.25s ease;
  border-radius: 0 20px 20px 0;
  margin-right: 12px;
}

.singleLink:hover, .toggleBtn:hover {
  background-color: var(--mui-palette-action-hover);
}

.activeLink {
  background-color: var(--mui-palette-primary-light) !important;
  color: var(--mui-palette-background-paper) !important;
  font-weight: 600;
}

.subLink {
  display: block;
  padding: 8px 16px 8px 40px; 
  text-decoration: none;
  color: var(--mui-palette-text-secondary);
  font-size: 0.875rem;
  transition: 0.2s;
  border-radius: 0 20px 20px 0; /*!!!! Насколько вообще нужно закругление*/
  margin-right: 12px;
}

.subLink:hover {
  color: var(--mui-palette-text-primary);
  background-color: var(--mui-palette-action-hover);
}
