.appWrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content{ 
    display: flex;
    flex: 1 1 auto; 
    overflow: hidden;
    position: relative;
}

.main {
    flex: 1; 
    display: flex;
    flex-direction: column;
    padding: 24px; 
    transition: margin 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: auto;
    height: calc(100vh - 113px); /*временно (навсегда) так закреплен footer*/
    background-color: var(--mui-palette-background-outlet); 
}
