# Игнорируем тяжелую папку локальных зависимостей Node.js (ОБЯЗАТЕЛЬНО)
node_modules/

# Игнорируем результаты вашей локальной сборки (чтобы Nginx брал свежий билд из Docker)
dist/
build/

# Игнорируем логи ошибок npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Игнорируем локальные файлы конфигурации окружения
.env.local
.env.development.local
.env.production.local

# Игнорируем настройки редакторов кода
.vscode/
.cursor/
.idea/
*.suo
*.ntvs*
*.njsproj
